
body{
    font-family: Calibri;
}

input{
    border-radius: 0;
    -webkit-appearance: none;
    margin-bottom: 7px;
}

#master_container{
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#username {
    margin-left: auto;
    margin-right: auto;
}

#password{
    margin-left: auto;
    margin-right: auto;
}

#buttons{
    margin-left: auto;
    margin-right: auto;
}

.text_input{
    width: 200px;
}

.login{
    background-color: #8347B2;
    color: white;
    width: 100%
}

.login:hover{
    background-color: #C77FFF;
    color: white;
}

.signup{
    background-color: #8347B2;
    color: white;
    width: 100%;
}

.signup:hover{
    background-color: #C77FFF;
    color: white;
}

.pure-button{
    border-radius: 0px;
}

#title {
    font-size: 100px;
    font-weight: bold;
    text-shadow:
    -1px -1px 0 #8347B2,
    1px -1px 0 #8347B2,
    -1px 1px 0 #8347B2,
    1px 1px 0 #8347B2;
    color: white;
    width: 400px;
    display: inline-block;
}

h1 {
    text-align: left;
    padding-left: 10%;
    font-size: 50px;
}

p, li {
    font-size: 20px;
}

.nav_bar_section {
    width: 100%;
    min-height: 500px;
    height: 100%;
    display : flex;
    align-items : center;
}

.background_switch {
    background-color: #ebdbff;
}

.left_side {
    float: left;
    height: 100%;
    width: 50%;
}

.right_side {
    float: left;
    width: 50%;
    height: 100%;
    vertical-align: text-bottom;
}


#nav_bar {
    font-size: 40px;
    background-color: #9ea79e;
}

.nav_bar_items {
    color: white;
    font-size: 40px;
}

.nav_bar_list {
    list-style-type: none;
    width: 100%;
    height: 100%;
    overflow: auto;
    margin-bottom: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

#user_reg {
    width: 100%;
    height: 100%;
    align-content: center;
    align-items: center;
    padding-bottom: 50px;
}

#create_user > p {
    font-size: 15px;
}

.error_with {
    color: red;
}

#message_pageBtn {
    background-color: #8347B2;
    color: white;
}

#message_pageBtn:hover{
    background-color: #C77FFF;
}


#right_side_signIn {
    float: left;
    align-content: left;
    align-items: flex-start;
}

.table_left {
    width: 100px;
}

.table_left > label{
    float: right;
    height: 100%;
    width: 100%;
    padding: 0;
    padding-right: 10px;
    text-align: right;
}