/* css refresh */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html,body{
    font-family: "Yu Gothic UI Light";
    height:100%;
    width:100%;
}

#chat_box {
    width: 100%;
    height: auto;
}

#message_area {
    width:100%;
    text-align: left;
    min-height: 90vh;
    max-height: 90vh;
    overflow: auto;
    padding: 0;
}

#master_container{
    display:flex;
    height:100%;
    width:100%;
}

#message_input{
    resize: none;
    width:100%;
}

#send_button{
    height:36px;
    width:50px;
}

#message_side {
    display:table;
    width:100%;
    border-color:red;
    height:100%;
}

#user_side {
    display:table;
    background-color:red;
    float:left;
    width:340px;
    margin:0;
    height:100%;
}

#user_side_input{
    padding:0 7px;
    font-size:20px;
    height:35px;
    width:326px;
    border:none;
}

#user_side_input:focus{
    outline:none;
}

.buttons {
    border:none;
    text-align:center;
    font-size:16px;
    height:48px;
    line-height:50px;
    cursor:pointer;
    width:100%;
}

.div_col {
    float:left;
    display: table-column;
}

.div_row {
    display: table-row;
    width: auto;
    height: auto;
}

.div_table {
    display: table;
    width: auto;
}

.tab_menus {
    display: flex;
}

.title{
    color:white;
    font-family:Calibri;
    font-size:40px;
    height:52px;
    width:340px
}

.title:hover{
    cursor: pointer;
}

.toggle_tab_main{
    -webkit-user-select:none;
    -moz-user-select:none;
    font-family:Calibri;
    font-size:20px;
    font-weight:bold;
    width:169px;
    height:40px;
    line-height:39px;
    text-align:center;
}

.toggle_tab_main:hover{
    cursor:pointer;
}

/*
.toggle_tab_contacts{
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    font-family:Calibri;
    font-size:16px;
    width:167px;
    height:20px;
    line-height:20px;
    text-align:center;
}

.toggle_tab_contacts:hover{
    cursor:pointer;
}
*/