{% extends 'link_page_base.html' %}
{% load staticfiles %}

{% block block_head %}
    <title>Activate Account</title>
{% endblock %}

{% block body_block %}
    <div class="panel panel-primary" id="settings_panel">
        <div class="panel-heading panel_header">
            <h1>Activate Account</h1>
        </div>
        <div class="panel-body">
            {% if expired_or_not_right %}
                <p style="font-size: 18px;">I'm sorry the authentication link you sent was not recognized.<br>
                Login, go to settings and request a new authentication link if this error persists.
                </p>
            {% else %}
                <div id="restricted_body">
                    <div id="box">
                        <h1>Account Authenticated</h1>
                        <p>Your account has been authenticated, you can now send messages! Congratulations!
                        </p>
                        <form id="restricted_page" method="post" action="{% url 'MessageApp:index' %}">
                            {% csrf_token %}
                            <div><span id="time"></span></div>
                        </form>
                    </div>
                </div>

                <script>
                function startTimer(duration, display)
                {
                    var timer = duration, minutes, seconds;
                    setInterval(function () {
                        seconds = parseInt(timer % 60, 10);

                        display.textContent = "Redirecting in: " + seconds;

                        if(--timer == 0)
                        {
                            document.forms['restricted_page'].submit();
                        }
                    }, 1000);
                }

                window.onload = function () {
                    var time = 5,
                        display = document.querySelector('#time');
                    startTimer(time, display);
                };
                </script>
            {% endif %}
        </div>
    </div>
{% endblock %}