<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Activate</title>
</head>
    <body>
        {% if expired_or_not_right %}
            <p>I'm sorry the authentication link you sent was not recognized.<br>
            Login, go to settings and request a new authentication link if this error persists.<br>
            Your account may already be authenticated</p>
        {% else %}
            <div id="restricted_body">
                <div id="box">
                    <h1>Account Authenticated</h1>
                    <p>Your account has been authenticated, you can now send messages! Congratulations!
                    </p>
                    <form id="restricted_page" method="post" action="{% url 'MessageApp:index' %}">
                        {% csrf_token %}
                        <div><span id="time"></span></div>
                    </form>
                </div>
            </div>

            <script>
            function startTimer(duration, display)
            {
                var timer = duration, minutes, seconds;
                setInterval(function () {
                    seconds = parseInt(timer % 60, 10);

                    display.textContent = "Redirecting in: " + seconds;

                    if(--timer == 0)
                    {
                        document.forms['restricted_page'].submit();
                    }
                }, 1000);
            }

            window.onload = function () {
                var time = 5,
                    display = document.querySelector('#time');
                startTimer(time, display);
            };
            </script>
        {% endif %}
    </body>
</html>