{% extends 'message_app_base.html' %}
{% load staticfiles %}

{% block head_block %}
    {% if debug %}
        <link rel="stylesheet" href="{% static "jquery-3.1.1.min.js" %}">
        <link rel="stylesheet" href="{% static "bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "bootstrap-theme.css" %}">
    {% else %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="{% static "message_app/analytics.js" %}"></script>
    {% endif %}
    <link rel="stylesheet" href="{% static "message_app/index.css" %}">
    <title>RoofText</title>
{% endblock %}

{% block body_block %}
    <div id="nav_bar" class="navbar-fixed-top">
        <ul class="nav_bar_list">
            <li class="nav_bar_items" role="tab">
                <a style="color:white; text-decoration: none;" href="#sign_in">Sign In</a>
            </li>
            <li class="nav_bar_items" role="tab">
                <a style="color:white; text-decoration: none;" href="#what_is">What is RoofText</a>
            </li>
            <li class="nav_bar_items" role="tab">
                <a style="color:white; text-decoration: none;" href="#downloads">Downloads</a>
            </li>
            <li class="nav_bar_items" role="tab">
                <a style="color:white; text-decoration: none;" href="#security">Security</a>
            </li>
            <li class="nav_bar_items" role="tab">
                <a style="color:white; text-decoration: none;" href="#about_us">About Us</a>
            </li>
        </ul>
    </div>
    <div id="master_container">
        <div id="nav_scroll_section" data-target="#nav_bar" data-offset="0" class="scrollspy-example">
            <div class="nav_bar_section background_switch" id="sign_in">
                <div class="left_side">
                    <h1>
                        <div id="title">
                            <span>ROOFtext</span>
                        </div>
                    </h1>
                </div>
                <div class="right_side" style="text-align: center;">
                    <div id="right_side_signIn">
                        {% if not user.is_authenticated %}
                            <h2>Sign In</h2>
                            <form id="user_login" method="post" action="{% url 'MessageApp:login' %}">
                                <fieldset>
                                    {% csrf_token %}
                                    <div>
                                        {{ login }}
                                        {% if reset %}
                                            <a href="{% url 'MessageApp:new_password_send' %}">reset password</a>
                                        {% endif %}
                                    </div>
                                    <div id="username" style="width: 200px">
                                        <input class="form-control text_input" type="text" name="username" placeholder="Username" size="50" autofocus
                                                 autocomplete="on" required title="Please enter username"/>
                                    </div>
                                    <div id="password" style="width: 200px">
                                        <input class="form-control text_input" type="password" name="password" placeholder="Password" size="50" required/>
                                    </div>
                                    <div id="buttons" style="display: flex; width: 200px">
                                        <div id="register" style="width: 100px; margin-right: 7px;">
                                            <input class="btn btn-outline-primary signup" onclick="$('#create_user').show()" type="button" value="Register" />
                                        </div>
                                        <div id="login" style="width: 100px">
                                            <input class="btn btn-outline-primary login" type="submit" value="Login">
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                            <a href="{% url 'MessageApp:new_password_send' %}">Forgot Password</a>
                            <div id="user_reg">
                                <form class="form-inline" id="create_user" hidden>
                                    {% csrf_token %}
                                    <h2>New User</h2>
                                    <table align="center">
                                        <tr>
                                            <th class="table_left">
                                                <label for="id_username">Username:</label>
                                            </th>
                                            <th>
                                                <input id="id_username" class="form-control text_input" maxlength="30" name="username" type="text" />
                                            </th>
                                        </tr>
                                        <tr>
                                            <td colspan="2" style="height: 30px; font-style: italic;" valign="top">
                                                <span>Required. 30 characters or fewer. Letters, digits and @/./+/-/_ only.</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="table_left" valign="middle">
                                                <label for="id_email">Email address:</label>
                                            </th>
                                            <th>
                                                <input id="id_email" class="form-control text_input" maxlength="254" name="email" type="email" />
                                            </th>
                                        </tr>
                                        <tr>
                                            <th class="table_left">
                                                <label for="id_first_name">First name:</label>
                                            </th>
                                            <th>
                                                <input id="id_first_name" class="form-control text_input" maxlength="30" name="first_name" type="text" />
                                            </th>
                                        </tr>
                                        <tr>
                                            <th class="table_left">
                                                <label for="id_last_name">Last name:</label>
                                            </th>
                                            <th>
                                                <input id="id_last_name" class="form-control text_input" maxlength="30" name="last_name" type="text" />
                                            </th>
                                        </tr>
                                        <tr>
                                            <th class="table_left">
                                                <label for="id_password">Password:</label>
                                            </th>
                                            <th>
                                                <input id="id_password" class="form-control text_input" name="password" onChange="passwordMatch()" oninvalid="passwordMatch()" oninput="passwordMatch()" type="password" />
                                            </th>
                                        </tr>
                                        <tr>
                                            <th class="table_left">
                                                <label for="id_rep_pass">Confirm Password:</label>
                                            </th>
                                            <th>
                                                <input id="id_rep_pass" class="form-control text_input" name="rep_pass" onChange="passwordMatch()" oninvalid="passwordMatch()" oninput="passwordMatch()" type="password" />
                                            </th>
                                        </tr>
                                        <tr>
                                            <th class="table_left">
                                                <label for="id_key" class="table_left">Alpha Key:</label>
                                            </th>
                                            <th>
                                                <input id="id_key" class="form-control text_input" name="key" type="text" />
                                            </th>
                                        </tr>
                                    </table>
                                    <div id="buttons" style="display: flex; width: 200px">
                                        <div style="width: 117px; margin-right: 7px;">
                                            <input id="register_register"class="btn btn-outline-primary signup" onclick="passwordMatch()" type="submit" name="submit" value="Register Confirm" />
                                        </div>
                                        <div style="width: 100px">
                                            <input id="register_cancel" class="btn btn-outline-primary login" onclick="$('#create_user').hide();" type="button" value="Hide" />
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal" id="newUserModal" role="dialog" hidden>
                                <div class="modal-dialog modal-sm">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h2 class="modal-title">New User Created</h2>
                                        </div>
                                        <div class="modal-body">
                                            <p>Successfully created new user!</p>
                                        </div>
                                            <div class="modal-footer">
                                            <button type="button" class="btn btn-default" onclick="$('#newUserModal').hide()">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <p style="float: left;">
                                You are already logged in! Click below to go to the message page! <br>
                                <a href="{% url 'MessageApp:message' %}"><button class="btn btn-lg btn-outline-primary" id="message_pageBtn" >Message Page</button></a>
                            </p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="nav_bar_section" id="what_is" class="background_switch">
                <div class="left_side">
                    <h1>What is RoofText?</h1>
                </div>
                <div class="right_side">
                    <p>
                        RoofText is a simple way to text from any computer through your phone. It gets your contacts
                        conversation and messages in an easy to use GUI. It allows you to not only view your conversations,
                        but also to send text and multi-media messages directly from the browser you are on!<br><br>
                        Better yet, we store NONE of your data. Thats right, the only thing that we have is your login
                        information! And then you might think, how do we access it? Well what we use is an app on your
                        phone that allows you to get the data directly from your phone and then send it to whatever browser
                        you are using it from. Even if you leave your phone at home, as long as it is connected to the
                        internet you can access all your messages!
                    </p>
                    <br>
                    <h2>Absolutely <b>FREE!!</b></h2>
                </div>
            </div>
            <div class="nav_bar_section background_switch" id="downloads">
                <div class="left_side">
                    <h1>Downloads</h1><br>
                </div>
                <div class="right_side">
                    <p>
                        Currently we are testing <b>Alpha2.2.2!</b><br><br>
                        So please be gentle with us. We are figuring out some bugs.<br><br>
                        We just came out with our release and have had some
                        great feedback. If you want to get in on the alpha
                        testing please email <a>rooftext@gmail.com</a>.
                        You may download the app <a href="#">here</a>
                        <br>
                        How do you install?<br>
                        <ol style="display: block;">
                            <li>Email us at rooftext@gmail.com and we will send you an alpha key</li>
                            <li>Register an account above.</li>
                            <li>Install the app from <a href="#">here</a></li>
                            <li>Login in from the app.</li>
                            <li>Login here and text away!</li>
                        </ol>
                    </p>
                </div>
            </div>
            <div class="nav_bar_section" id="security">
                <div class="left_side">
                    <h1>Security</h1>
                </div>
                <div class="right_side">
                    <h2>What we store</h2>
                    <p>
                        We only store your account credentials (username, encrypted password,
                        and the email address) that you give us. Thats right because when
                        you connect, you get connected to our app on your phone.
                        No databases that we have store any data that is
                        on your phone. All data that between your phone and
                        web browser is secure.
                        <br><br>
                        <b>NO</b> messages are stored on our servers
                        <br>
                        <b>NO</b> images are stored on our servers
                    </p>
                    <h2>Secure Connection</h2>
                    <p>
                        We use the SSL/TLS connection to encrypt all data that
                        is sent between your phone and your web browser. For all
                        of you that do not know that is what the "S" in HTTPS
                        stands for.
                    </p>
                </div>
            </div>
            <div class="nav_bar_section background_switch" id="about_us">
                <div class="left_side">
                    <h1>About Us</h1>
                </div>
                <div class="right_side">
                    <p>
                        Our team is a bit small. I am a computer science major entending to deliver a product that I
                        will use everyday. This started as a mere pipe dream, but the code base has grown exponentially
                        and so has the product. For now the plan is to continue coding on it with updates and releases.
                        <br><br>Feel free to contact our team anytime with questions or concerns at: <a>rooftext@gmail.com</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <script>
    $('body').scrollspy({ target: '#nav_bar' });
    {% if not user.is_authenticated %}
        $(document).ready(function () {
            $('#create_user').submit(function (e) {
                e.preventDefault();
                $('#create_user').children('p').children('input').attr("readonly",true);
                $('#register_register').attr('disabled',true);
                var data = $('#create_user').serialize();
                $.ajax({
                    url: '{% url 'MessageApp:register' %}',
                    type: 'POST',
                    data: data,

                    success: function(data) {
                        $('label').css('color', 'black');
                        $('#create_user').hide();
                        $('#newUserModal').show();
                        $('#create_user > p > input').val("").popover('destroy');
                    }
                }).fail(function(response) {
                    $('label').css('color','black');
                    $('input').popover('destroy');
                    var responseJSON = JSON.parse(response["responseText"]);
                    for(var i = 0; i < Object.keys(responseJSON).length; i++) {
                        var key = Object.keys(responseJSON)[i];
                        $("label[for='id_" + key + "']").css("color","red");
                        var currentInput = $('#id_' + key );
                        currentInput.attr({
                            'rel':'popover',
                            'data-content':responseJSON[key],
                            'data-trigger':"focus"
                        }).popover();

                        if (i == 0) {
                            currentInput.focus();
                        }
                    }
                });
                $('#create_user').children('p').children('input').attr("readonly",false);
                $('#register_register').attr('disabled',false);
            });
        });
    {% endif %}

    function passwordMatch(){
        var password = $("#id_password");
        var confirm_password = $("#id_rep_pass");
        if(password.val().length == 0) {
            password.get(0).setCustomValidity("Passwords length is to short.");
            password.css("background-color", "#ffaaaa");
        } else if (confirm_password.val().length == 0) {
            confirm_password.get(0).setCustomValidity("Passwords length is to short.");
            confirm_password.css("background-color", "#ffaaaa");
        } else if(password.val() != confirm_password.val()) {
            confirm_password.get(0).setCustomValidity("Passwords Don't Match");
            confirm_password.css("background-color", "#ffaaaa");
            password.css("background-color", "#ffaaaa");
        } else {
            password.get(0).setCustomValidity('');
            confirm_password.get(0).setCustomValidity('');
            confirm_password.css("background-color", "#95e7b5");
            password.css("background-color", "#95e7b5");
        }
    }

    </script>
{% endblock %}
