<!DOCTYPE html>
<html lang="en">
    <head>
        <title>HealthNet Homepage</title>
    </head>

    <body>
        </div>
        <div id="master_index">
            <h1>Welcome to the Messaging App</h1>
            <form id="user_login" method="post" action="{% url 'MessageApp:login' %}">
                {% csrf_token %}
                <p>{{ login }}<br /></p>
                <div id="login_box">
                Username: <input type="text" name="username" value="" size="50" autofocus
                                 autocomplete="on" required title="Please enter username"/>
                <br />
                Password: <input type="password" name="password" value="" size="50"
                                required/>
                <br />
                </div>
                    <div id="index_button">
                    <input type="submit" value="submit" />
                </div>
                <br />
                <div id="reg_link">
                    <a href="{% url 'MessageApp:register' %}">New Users Click Here To Register</a>
                </div>
            </form>
        </div>

    </body>
</html>