{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        {% if DEBUG %}
            <script src="{% static "message_app/JSONFunctions.js" %}"></script>
            <script src="{% static "message_app/uiFunctions.js" %}"></script>
            <link rel="stylesheet" href="{% static "message_app/message.css" %}">
        {% else %}
            <link rel="stylesheet" href="{% static "message_app/message_server.css" %}">

            <script src="{% static "message_app/analytics.js" %}"></script>
        {% endif %}
    	<link rel="shortcut icon" href="{%  static 'message_app/favicon-32x32.png' %}">
        <scriptf type="text/javascript"></scriptf>
        <title>Rooftext</title>
    </head>
    <body>
        {% csrf_token %}
        <div id="bodyDiv"></div>
        <div id="master_container">
            <div id="leftSideBar">
                <div id=lsb_title>
                    <span style="font-weight: bold">ROOF</span>
                    <span style="margin-left:-10px;">text</span>
                </div>
                <div id="lsb_searchBarDiv">
                    <input id=lsb_searchBar type="text" placeholder="Search your contacts">
                </div>
                <div id="lsb_tabs">
                    <div id="lsb_contactsTab" class="lsb_toggleTab">Contacts</div>
                    <div id="lsb_conversationsTab" class="lsb_toggleTab">Conversations</div>
                </div>
                <div id="lsb_tabItems">
                    <div class="list-group" id="slt_contact">
                    </div>
                    <input type="hidden" id="contact_ids">
                    <div class="list-group" id="slt_conversation">
                    </div>
                    <input type="hidden" id="convo_id">
                </div>
                <div id="lsb_bottomBtns">
                    <div class="btn btn-outline-primary" id="lsb_settingsBtn" onclick="window.open('{% url 'MessageApp:settings' %}')">Settings</div>
                    <div class="btn btn-outline-primary" id="lsb_logoutBtn" onclick="location.href='{% url 'MessageApp:logout' %}'">Logout</div>
                </div>
            </div>
            <div id="new_message_container" hidden>
                <form>
                    <div class="form-group">
                        <label for="recipientInput">Recipients</label>
                        <ul class="list-group" id="recipientList"></ul>
                    </div>
                    <div class="form-group">
                        <label for="textArea">Message</label>
                        <textarea class="form-control" id="new_message_textArea" rows="3" style="
                            resize: vertical;
                        "></textarea>
                    </div>
                    <div id="new_message_btns" style="flex: 1;">
                        <div class="sendBtn" id="new_message_sendBtn" style="
                            border: solid 1px black;
                            padding-right: 5px;
                            float: left;
                        ">Send</div>
                        <div class="cancelBtn" id="new_message_cancelBtn" style="
                            border: solid 1px black;
                            float: right;
                        ">Cancel</div>
                    </div>
                    <div id="sending_div" hidden>
                        <span class="label label-default" id="sending_label" style="font-size: 16px; background-color: #8347B2;">
                            <span class="glyphicon glyphicon-refresh spinning"></span>
                            <span id="sending_text"> Attempting to send...</span>
                        </span>
                    </div>
                </form>
            </div>
            <div id="rightMessage">
                <div id="rm_topBar">{{ user.username}}</div>
                <div id="rm_loadBtn">Load More</div>
                <div id="rm_messageArea"></div>
                <div id="rm_inputsDiv">
                    <div id="rm_messageInput" contenteditable="true"></div>
                    <div id="rm_sendArea">
                        <div id="rm_sendBtn" class="sendBtn">Send</div>
                        <div id="rm_charCountArea">
                            <span>Char: <span id="rm_charCount">0</span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" id="connect_waiting" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Waiting to connect</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            We are waiting for your phone to connect. Make sure your app is connected
                            to wifi and you are logged in through the app.
                            <br><br>
                            If you have not already, please download
                            the app <a href="https://www.rooftext.com" target="_blank">here</a>.
                            <br><br>
                        </p>
                        <span class="label label-default" id="loading_label" style="font-size: 16px;">
                            <span class="glyphicon glyphicon-refresh spinning"></span>
                            <span id="loading_text"> Waiting to connect...</span>
                        </span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-primary" onclick="location.href='{% url 'MessageApp:index' %}'">
                            Home Page
                        </button>
                        <button type="button" class="btn btn-outline-primary"
                                id="button_settings"
                                onclick="window.open('{% url 'MessageApp:settings' %}')">
                            Settings
                        </button>
                        <button type="button" class="btn btn-outline-primary" onclick="location.href='{% url 'MessageApp:logout' %}'">
                            Logout
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <img id="imageModalIMG" src="" class="imagepreview" style="width: 100%;" >
              </div>
            </div>
          </div>
        </div>
        <script>
            {% if DEBUG %}
                var URL = "ws://" + window.location.host + "/message_route/";
            {% else %}
                var URL = "wss://" + window.location.host + "/message_route/";
            {% endif %}
        </script>
        {% if DEBUG %}
            <script src="{% static "message_app/message.js" %}"></script>
        {% else %}
            <script src="{% static "message_app/message_server.js" %}"></script>
        {% endif %}
    </body>
</html>
