{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static "message_app/message.css" %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        <title>ROOFmessage</title>
        <script type="text/javascript"></script>
    </head>
    <body>
        <div id="master_container">
            {% csrf_token %}
            <div id="user_side">
                <div class="div_row" style="height:52px">
                    <div class="div_col" style="width:100%; text-align: center;">
                        <div class=title>
                            <span style="font-weight: bold">ROOF</span>
                            <span style="margin-left:-10px; color:pink">message</span>
                        </div>
                    </div>
                </div>
                <div class="div_row" style="height:35px">
                    <div class="div_col" style="width:100%; text-align: center">
                        <input id=user_side_input type="text" placeholder="Search">
                    </div>
                </div>
                <div class="div_row" style="height:52px">
                    <div class="div_col" style="width:100%;">
                        <div class="tab_menus" id="list_selected">
                            <div id=contacts class=toggle_tab_main style="background-color:#f66;
                                                                            border-top:solid #f66 2px;
                                                                            border-right:solid 1px;
                                                                            border-bottom:solid 2px;">Contacts</div>
                            <div id=convos class=toggle_tab_main style="border-top:solid 2px;
                                                                        border-bottom:solid red 2px;
                                                                        border-left:solid 1px">Conversations</div>
                        </div>
                    </div>
                </div>
                <div class="div_row" style="height:52px">
                    <div class="div_col" style="width:100%;">
                        <div class="tab_menus" id="all_or_none" style="display:none">
                            <div class="toggle_tab_contacts" id="myContacts" style="border-right:solid 1px;">My Contacts</div>
                            <div class="toggle_tab_contacts" id="allUsers" style="border-left:solid 1px;">All Users</div>
                        </div>
                    </div>
                </div>
                <div class="div_row">
                    <div class="div_col" style="width:100%;">
                        <!--<select id="scroll_data" size="41" multiple style="width:100%;"></select>-->
                    </div>
                </div>
                <div class="div_row" style="height:48px;">
                    <div class="div_col" style="width:50%;">
                        <a href="{% url 'MessageApp:settings' %}"><input class="buttons" method="get" type="submit" value="Settings"/></a>
                    </div>
                    <div class="div_col" style="width:50%;">
                        <a href="{% url 'MessageApp:logout' %}"><input class="buttons" type="submit" value="Logout"/></a>
                    </div>
                </div>
            </div>
            <div id="message_side">
                <div class="div_row">
                    <div id="message_area" class="div_col">
                        <ul id="message_ul" style="list-style-type:none">
                        </ul>
                    </div>
                </div>
                <div class="div_row" style="width: 100%">
                    <div class="div_col" style="width:auto">
                        <textarea id="message_input"></textarea>
                    </div>
                    <div class="div_col" style="width:50px; float:right">
                        <input id="send_button" type="submit" value="Send"/>
                    </div>
                </div>
            </div>
        </div>
    <script>
        // Listeners
        $('#contacts').on("click", function(){
            $('#contacts').css({"background-color":"red",
                                "border-top":"solid 2px",
                                "border-bottom":"solid red 2px",});
            $('#convos').css({"background-color":"#f66",
                              "border-top":"solid #f66 2px",
                              "border-bottom":"solid 2px",});
            //$('#all_or_none').show();
        });

        $('#convos').on("click", function(){
            $('#convos').css({"background-color":"red",
                              "border-top":"solid 2px",
                              "border-bottom":"solid red 2px",});
            $('#contacts').css({"background-color":"#f66",
                                "border-top":"solid #f66 2px",
                                "border-bottom":"solid 2px",});
            //$('#all_or_none').hide();
        });
        // ***************************************************

        var socket = new WebSocket("ws://" + window.location.host + "/message_route/");

        socket.onmessage = function(e) {
            var text = e.data;
            var name_array = text.split(":")
            var ul = document.getElementById("message_ul");
            var li = document.createElement("li");
            li.appendChild(document.createTextNode(text));
            li.style.margin = 0;
            li.style.padding = 0;
            li.style.border = "1px solid #000";
            li.style.width = "100%";
            li.style.textAlign = "right";
            ul.appendChild(li);
        };
        socket.onopen = function() {
            socket.send("Hello it is me! {{ request.user.username }}");
        };
        socket.onclose = function() {
            socket.send("I just left :(");
            socket = new WebSocket("ws://" + window.location.host + "/message_route/");
        };

        document.getElementById("send_button").addEventListener("click", function(){
            var text_area = document.getElementById("text_area");
            var value = text_area.value;
            var ul = document.getElementById("message_ul");
            var li = document.createElement("li");
            li.appendChild(document.createTextNode(value));
            li.style.margin = 0;
            li.style.padding = 0;
            li.style.border = "1px solid #000";
            li.style.width = "100%";
            li.style.textAlign = "left";
            ul.appendChild(li);
            if (value.length > 0 ) {
                socket.send(value);
                text_area.value="";
            }
        });

        window.onbeforeunload = function (){
            socket.send("{{ user.username }} just left!");
        };

    </script>
    </body>
</html>