<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Password</title>
</head>
    <body>
        {% if change_screen %}

        <div id="new_password">
            <h1>Email Sent</h1>
            <p>An email has been sent with the information!
            </p>
            <form id="new_password_form" method="post" action="{% url 'MessageApp:index' %}">
                {% csrf_token %}
                <div><span id="time"></span></div>
            </form>
        </div>

        <script>
        function startTimer(duration, display)
        {
            var timer = duration, minutes, seconds;
            setInterval(function () {
                seconds = parseInt(timer % 60, 10);

                if(--timer == 0)
                {
                    document.forms['new_password_form'].submit();
                }
            }, 1000);
        }

        window.onload = function () {
            var time = 10,
                display = document.querySelector('#time');
            if("{{ change_screen }}" == "True")
                startTimer(time, display);
        };
        </script>
        {% else %}
        <form id="new_password_link" method="post" action="{% url 'MessageApp:new_password_send' %}">
            {% csrf_token %}
            <p>Please enter the email associated with your account:</p>
            <p>Email: </p><input type="text" id="email" name="email" value="" size="50" autofocus
                                 autocomplete="on" required title="email"/>
        </form>
        {% endif %}
    </body>
</html>