{% extends 'link_page_base.html' %}
{% load staticfiles %}

{% block block_head %}
    <title>New Password Send</title>
{% endblock %}

{% block body_block %}
    <div class="panel panel-primary" id="settings_panel">
        <div class="panel-heading panel_header">
            <h1>New Password Send</h1>
        </div>
        <div class="panel-body">
            {% if change_screen %}
                <div id="new_password">
                    <h1>Email Sent</h1>
                    <p style="font-size: 18px;">An email has been sent with the information!
                    </p>
                    <form id="new_password_form" method="post" action="{% url 'MessageApp:index' %}">
                        {% csrf_token %}
                        <div><span id="time"></span></div>
                    </form>
                </div>

                <script>
                function startTimer(duration, display)
                {
                    var timer = duration, minutes, seconds;
                    setInterval(function () {
                        seconds = parseInt(timer % 60, 10);

                        if(--timer == 0)
                        {
                            document.forms['new_password_form'].submit();
                        }
                    }, 1000);
                }

                window.onload = function () {
                    var time = 10,
                        display = document.querySelector('#time');
                    if("{{ change_screen }}" == "True")
                        startTimer(time, display);
                };
                </script>
            {% else %}
                <form id="new_password_link" method="post" action="{% url 'MessageApp:new_password_send' %}">
                    {% csrf_token %}
                    <p style="font-size: 18px;">Please enter the email associated with your account:</p>
                    <p style="font-size: 18px;">Email: </p><input type="text" id="email" name="email" value="" size="50" autofocus
                                         autocomplete="on" required title="email"/>
                    <input class="btn btn-outline-primary actionBtn" style="margin-left: 5px;" type="submit" name="activate" value="Send email" />
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}