<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Password Link</title>
</head>
    <body>
        {% if show_error or show_input %}
            {% if show_error %}
                <h1>Error!</h1>
                <p>Oh no! Either the key you entered was wrong or the link has expired :(
                    Try reentering your key and new password first! Or click
                <a href="{% url 'MessageApp:new_password_send'%}">here</a>
                    to try again.
                </p>
                <form id="new_password_form" method="post" action="{% url 'MessageApp:new_password_send' %}">
                    {% csrf_token %}
                    <div><span id="time"></span></div>
                </form>
            {% endif %}
            <form id="new_password_link" method="post" action="{% url 'MessageApp:new_password_link' key %}">
                {% csrf_token %}
                {{ new_pass_form.as_p }}
                <input type="submit" value="submit" />
            </form>
        {% else %}
            <p>Congradulations your new password has been set!!!</p>

            <form id="restricted_page" method="post" action="{% url 'MessageApp:index' %}">
                {% csrf_token %}
                <div><span id="time"></span></div>
            </form>
            <script>
            function startTimer(duration, display)
            {
                var timer = duration, minutes, seconds;
                setInterval(function () {
                    seconds = parseInt(timer % 60, 10);

                    display.textContent = "Redirecting in: " + seconds;

                    if(--timer == 0)
                    {
                        document.forms['restricted_page'].submit();
                    }
                }, 1000);
            }

            window.onload = function () {
                var time = 5,
                    display = document.querySelector('#time');
                startTimer(time, display);
            };
            </script>
        {% endif %}
    </body>
</html>