<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Settings</title>
</head>
    <body>
        <h1>Settings</h1>
        <div id="change_password">
            {% if pass_change_success %}
                <p>Congradulations your password has been changed!</p>
            {% endif %}
            <form id="change_password_form" method="post" action="{% url 'MessageApp:new_password' %}">
                {% csrf_token %}
                {{ pass_form.as_p }}
                <input type="submit" name="submit" value="Save Changed Password" />
            </form>
        </div>
        <a href="{% url 'MessageApp:index' %}"><input type="button" value="Back"/></a>
        <br>
        <form id="change_password_form" method="post" action="{% url 'MessageApp:delete_account' %}">
            {% csrf_token %}
            {% ifnotequal error None %}
                {{ error }}
                <br>
            {% endifnotequal %}
            <input class="text_input" type="password" name="password" placeholder="Password" size="50" required/>
            <input method="submit" type="submit" value="Delete Account"/>
        </form>

        {% if not user_profile.activated_account %}
            <!--This is active if account has not been activated yet-->
            <form id="new_activate_account" method="post" action="{% url 'MessageApp:settings' %}">
                {% csrf_token %}
                <p>Your account is still not active!</p>
                <input type="submit" name="activate" value="Send new Activate Account Link" />
            </form>
        {% endif %}
    </body>
</html>