{% extends 'link_page_base.html' %}
{% load staticfiles %}

{% block block_head %}
    <script src="{% static "message_app/analytics.js.js" %}"></script>
    <title>Settings</title>
{% endblock %}

{% block body_block %}
    <div class="panel panel-primary" id="settings_panel">
        <div class="panel-heading panel_header">
            <h1>Settings</h1>
        </div>
        <div class="panel-body">
            <li class = "list-group-item">
                <div id="change_password">
                {% if pass_change_success %}
                    <p>Congratulations your password has been changed!</p>
                {% endif %}
                <form id="change_password_form" method="post" action="{% url 'MessageApp:settings' %}">
                    {% csrf_token %}
                    {{ pass_form.as_p }}
                    <input class="btn btn-outline-primary actionBtn" type="submit" name="change_password" value="Save Changed Password" />
                </form>
                </div>
                <a href="{% url 'MessageApp:message' %}"><input class="btn btn-outline-primary actionBtn" type="button" value="Back to Message Page"/></a>
                <br>
            </li>
            <li class = "list-group-item">
                <form id="delete_account_form" method="post" action="{% url 'MessageApp:delete_account' %}">
                    {% csrf_token %}
                    {% ifnotequal error None %}
                        {{ error }}
                        <br>
                    {% endifnotequal %}
                    <div class="input-group">
                        <input class="form-control text_input inputArea" type="password" name="password" placeholder="Password" size="50" required/>
                        <input class="btn btn-outline-primary actionBtn" method="submit" type="submit" value="Delete Account"/>
                    </div>
                </form>
            {% if not user_profile.activated_account %}
                <li class = "list-group-item">
                    {% if email_sent %}
                        <p>An email has just been sent with a new activation code</p>
                    {% endif %}
                    <!--This is active if account has not been activated yet-->
                    <form id="new_activate_account" method="post" action="{% url 'MessageApp:settings' %}">
                        {% csrf_token %}
                        <p>Your account is still not active!</p>
                        <input class="btn btn-outline-primary actionBtn" type="submit" name="activate" value="Send new Activate Account Link" />
                    </form>
                </li>
            {% endif %}
        </div>
    </div>
{% endblock %}